<!DOCTYPE html>
<html lang="en" class="no-js">
<%- include('head'); %>
<body
        class="home page-template-default page page-id-1954 single-opt-content-position-ro single-no-opt-fullscreen group-blog">
<div id="page" class="site">
  <a class="skip-link screen-reader-text" href="#content">跳至内容
  </a>


  <%- include('header'); %>

  <div id="content" class="site-content">

    <main class="page-parts">



      <div id="p-21763" class="page-part has-line type-page no-opt-margin-sides" data-scroll-view-more="阅览展览日程表">


        <div class="page-part--inner">

          <div class="page-part--body">
            <div class="page-part--content">

              <h1>展览</h1>
              <p>CANDY'S每年踏遍全球，举行多个珠宝展览，展出我们珍罕瑰丽的作品。</p>

            </div>
          </div>

        </div>


      </div>




      <div id="p-46830" class="page-part opt-margin-sides opt-margin-above opt-margin-below opt-content-position-oo opt-grey-background page-part-image-left-60 page-part-image-side page-part-image-side-60 page-part-image-left">


        <div class="page-part--inner">


          <div class="page-part--image">

            <picture><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazy" data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/09/graff-diamonds-brooch-2000x1333.jpg" alt="" /></picture>
          </div>

          <div class="page-part--body">


            <div class="page-part--content">

              <h2>多哈珠宝钟表展</h2>
              <h4>2018年2月</h4>
              <p>我们的最新作品将于多哈享负盛名的珠宝钟表展中展出，该展览将于2018年庆祝成立15周年。</p>


            </div>


          </div>

        </div>
      </div>

      <div id="p-46833" class="page-part opt-margin-sides opt-margin-above opt-margin-below opt-content-position-oo opt-grey-background opt-line-above opt-line-below page-part-image-left-60 page-part-image-side page-part-image-side-60 page-part-image-left">


        <div class="page-part--inner">


          <div class="page-part--image">

            <picture><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazy" data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/09/graff-booth-at-baselworld-2000x1333.png" alt="" /></picture>
          </div>

          <div class="page-part--body">


            <div class="page-part--content">

              <h2>BaselWorld 巴塞尔钟表展</h2>
              <h4>2018年3月22日-27日</h4>
              <p>我们将再度参与享负盛名的瑞士巴塞尔钟表展，展示最新的腕表与珠宝作品。</p>


            </div>


          </div>

        </div>
      </div>

    </main>


  </div>


  <div class="drawers footer-drawers">


    <div id="drawer-45151" data-drawer-id="45151" class="drawer--double-menu drawer has-feature">


      <div class="drawers--nav">

        <div class="drawers--nav-menus">
        </div>

        <div class="drawers--nav-image">
          <div class="drawers--nav-image-inner">
            <div class="image-placeholder">
            </div>
          </div>
        </div>

      </div>

      <div class="drawers--feature">


        <div class="drawers--feature-image">
          <div class="drawers--feature-image-inner">
            <div class="image-placeholder">
              <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                   data-src="./wp-content/uploads/2017/06/Graff-Eternal-Twins-Earrings-1-731x1000.jpg"
                   alt=""/>
              <noscript><img
                        src="./wp-content/uploads/2017/06/Graff-Eternal-Twins-Earrings-1-731x1000.jpg"
                        alt=""/></noscript>
            </div>
          </div>
        </div>

        <div class="drawers--feature-content">
          <h4>精选
          </h4>

          <div class="inner">
            <h2>The Eternal Twins</h2>
            <p>从同一颗原石切割而成的一双D色无瑕钻石耳环，各重50.23克拉，完美匹配。</p>
            <p><a class="button button-primary"
                  href="/categories/pendants/">探索更多</a></p>
          </div>
        </div>


      </div>


    </div>


    <div id="drawer-49391" data-drawer-id="49391" class="drawer--double-menu drawer has-feature">


      <div class="drawers--nav">

        <div class="drawers--nav-menus">
        </div>

        <div class="drawers--nav-image">
          <div class="drawers--nav-image-inner">
            <div class="image-placeholder">
            </div>
          </div>
        </div>

      </div>

      <div class="drawers--feature">


        <div class="drawers--feature-image">
          <div class="drawers--feature-image-inner">
            <div class="image-placeholder">
              <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                   data-src="./wp-content/uploads/2017/06/Classic-Graff-jewellery-collection-769x1000.jpg"
                   alt=""/>
              <noscript><img
                        src="./wp-content/uploads/2017/06/Classic-Graff-jewellery-collection-769x1000.jpg"
                        alt=""/></noscript>
            </div>
          </div>
        </div>

        <div class="drawers--feature-content">
          <h4>精选
          </h4>

          <div class="inner">
            <h2>Classic CANDY's</h2>
            <p>经典永恒：体现CANDY'S璀璨夺目的隽永珠宝系列。</p>
          </div>
        </div>


      </div>


    </div>


    <div id="drawer-19796" data-drawer-id="19796" class="drawer has-feature">


      <div class="drawers--nav">

        <div class="drawers--nav-menus">
        </div>

        <div class="drawers--nav-image">
          <div class="drawers--nav-image-inner">
            <div class="image-placeholder">
            </div>
          </div>
        </div>

      </div>

      <div class="drawers--feature">


        <div class="drawers--feature-image">
          <div class="drawers--feature-image-inner">
            <div class="image-placeholder">
              <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                   data-src="./wp-content/uploads/2017/06/Graff-Drawer-Image-Bridal-The-Graff-Way-769x1000.jpg"
                   alt=""/>
              <noscript><img
                        src="./wp-content/uploads/2017/06/Graff-Drawer-Image-Bridal-The-Graff-Way-769x1000.jpg"
                        alt=""/></noscript>
            </div>
          </div>
        </div>

        <div class="drawers--feature-content">
          <h4>精选
          </h4>

          <div class="inner">
            <h2>与众不同的CANDY'S</h2>
            <p>婚嫁系列中的每一颗钻石，也由CANDY'S的家族成员亲手挑选。</p>
            <p><a class="button button-primary"
                  href="/categories/bracelets">了解更多</a></p>
          </div>
        </div>


      </div>


    </div>


    <div id="drawer-8362" data-drawer-id="8362" class="drawer--double-menu drawer has-feature">


      <div class="drawers--nav">

        <div class="drawers--nav-menus">
        </div>

        <div class="drawers--nav-image">
          <div class="drawers--nav-image-inner">
            <div class="image-placeholder">
            </div>
          </div>
        </div>

      </div>

      <div class="drawers--feature">


        <div class="drawers--feature-image">
          <div class="drawers--feature-image-inner">
            <div class="image-placeholder">
              <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                   data-src="./wp-content/uploads/2017/06/Graff-Drawer-Image-Wacth-Craftsmanship-769x1000-769x1000.jpeg"
                   alt=""/>
              <noscript><img
                        src="./wp-content/uploads/2017/06/Graff-Drawer-Image-Wacth-Craftsmanship-769x1000-769x1000.jpeg"
                        alt=""/></noscript>
            </div>
          </div>
        </div>

        <div class="drawers--feature-content">
          <h4>精选
          </h4>

          <div class="inner">
            <h2>CANDY'S设计特色</h2>
            <p>探索CANDY'S腕表别具一格、令人难忘的设计特色。</p>
            <p><a class="button button-primary"
                  href="/categories/bracelets">了解更多</a></p>
          </div>
        </div>


      </div>


    </div>


    <div id="drawer-8366" data-drawer-id="8366" class="drawer has-feature">


      <div class="drawers--nav">

        <div class="drawers--nav-menus">
        </div>

        <div class="drawers--nav-image">
          <div class="drawers--nav-image-inner">
            <div class="image-placeholder">
            </div>
          </div>
        </div>

      </div>

      <div class="drawers--feature">


        <div class="drawers--feature-image">
          <div class="drawers--feature-image-inner">
            <div class="image-placeholder">
              <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                   data-src="./wp-content/uploads/2017/08/Graff-Diamonds-Rarity-The-Golden-Empress-1000x1000.jpg"
                   alt=""/>
              <noscript><img
                        src="./wp-content/uploads/2017/08/Graff-Diamonds-Rarity-The-Golden-Empress-1000x1000.jpg"
                        alt=""/></noscript>
            </div>
          </div>
        </div>

        <div class="drawers--feature-content">
          <h4>精选
          </h4>

          <div class="inner">
            <h2>CANDY'S的故事</h2>
            <p>探索CANDY'S钻石的奇妙旅程。</p>
            <p><a class="button button-primary" href="/story">了解更多</a></p>
          </div>
        </div>


      </div>


    </div>


    <div id="drawer-19856" data-drawer-id="19856" class="drawer--stores drawer no-feature">


      <div class="stores-search">

        <div class="page-header">
          <h1 class="page-title">欢迎来到CANDY'S JEWELRY</h1>
        </div>
      </div>

    </div>


  </div>
  <%- include('footer'); %>


</div>
<%- include('script'); %>

</body>
</html>
