<section class="footer-section clearfix f16">
    <div class="container">
        <div class="s1-foot fl tl">
            <div>Authorised by: Australian Postcard, Sydney</div>
            <div>Maintained by: <a href="#" class="blue">Wade.Dra & Lik1rose</a></div>
            <div>Last updated:  February 2017</div>
            <div>Copyright © 2017 Australian Postcard</div>
        </div>
        <div class="s1-foot fl tr">
            <div>
                <a href="/index" class="blue">Home</a> | <a href="/service" class="blue">Tourism Service</a> | <a href="/news" class="blue">Australian News</a> | <a href="/about" class="blue">About Us</a> | <a href="http://baidu.com/" class="blue">Privacy</a>
            </div>
            <div>© Australian Postcards Pty Limited Trading as Australian Postcards ABN 08 008 008 008</div>
            <div>ACN 008 008 008  ATAS No. A00008</div>
        </div>
    </div>
</section>
