<footer class="site-footer">


    <div class="colophon">

              <nav class="navigation-footer" role="navigation">
                <ul class="menu menu-footer">
                  <li id="menu-item-25803" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25803"><a
                    href="/contact/">联系我们</a></li>
                </ul>
              </nav>


        <div class="site-info">
            <span class="copyright">&copy; 2018 CANDY'S</span>
        </div>

    </div>

</footer>
