<div class="aus-header">
    <div class="aus-inner clearfix">
        <h1>
            <div>
                <img src="./image/logo.png" alt="logo" class="aus-logo aus-logo-white">
                <img src="./image/logo_dark.png" alt="logo" class="aus-logo aus-logo-dark">
            </div>
        </h1>
        <nav>
            <div class="nav-item">
                <a href="/index" class="nav-href"><%=nav.home%></a>
            </div>
            <div class="nav-item">
                <a href="/service" class="nav-href"><%=nav.service%></a>
            </div>
            <div class="nav-logo">
                <!--<a href="#" class="nav-logo tc">-->
                <div>
                    <img src="./image/logo.png" alt="logo" class="aus-logo aus-logo-white">
                    <img src="./image/logo_dark.png" alt="logo" class="aus-logo aus-logo-dark">
                </div>
                <div class="nav-logo-text">
                    Australian Postcard
                </div>
                <!--<div>Australian Postcard</div>-->
                <!--</a>-->
            </div>
            <div class="nav-item">
                <a href="/news" class="nav-href"><%=nav.news%></a>
            </div>
            <div class="nav-item">
                <a href="/about" class="nav-href"><%=nav.about%></a>
            </div>
            <div class="lang-item">
                <a href="#" onclick="changeLang()" class="nav-href">中 | ENG</a>
            </div>
        </nav>
    </div>
</div>
