<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#ffffff">

  <title>CANDY'S JEWELRY 走过日本、加拿大、上海，最顶尖的珠宝定制</title>
  <link rel="alternate" hreflang="en" href="index_en.html"/>
  <link rel="alternate" hreflang="zh-hans" href="zh-hans"/>

  <!-- This site is optimized with the Yoast SEO plugin v5.8 - https://yoast.com/wordpress/plugins/seo/ -->
  <meta name="description" content="探索CANDY'S无与伦比的珠宝国度，欣赏璀璨珍罕的奇珍宝石。不论是婚嫁珠宝还是钻石腕表，也能令您心动不已。"/>
  <link rel="canonical" href="http://candysjewel.com/"/>
  <meta property="og:locale" content="zh_CN"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="CANDY'S | 无与伦比的奢华国度"/>
  <meta property="og:description" content="探索CANDY'S无与伦比的珠宝国度，欣赏璀璨珍罕的奇珍宝石。不论是婚嫁珠宝还是钻石腕表，也能令您心动不已。"/>
  <meta property="og:url" content="http://www.candysjewel.com/"/>
  <meta property="og:site_name" content="CANDY'S"/>
  <!-- / Yoast SEO plugin. -->

  <link href="https://cdn.bootcss.com/jQuery.mmenu/7.0.3/jquery.mmenu.all.css" rel="stylesheet">
  <link rel='stylesheet' id='graff-style-css'
        href='/css/style.css' type='text/css'
        media='all'/>
  <script src="//cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/jquery-migrate/1.4.1/jquery-migrate.min.js"></script>
  <script src="http://cdn.bootcss.com/jquery-cookie/1.3.1/jquery.cookie.js"></script>
  <script src="http://cdn.bootcss.com/detectizr/2.2.0/detectizr.js"></script>
</head>