<!DOCTYPE html>
<html lang="en" class="no-js">
<%- include('head'); %>
<body
        class="home page-template-default page page-id-1954 single-opt-content-position-ro single-no-opt-fullscreen group-blog">
<div id="page" class="site">
  <a class="skip-link screen-reader-text" href="#content">跳至内容
  </a>


  <header id="header" class="site-header" role="banner">

    <div class="site-branding">
      <h1 class="site-title"><a href="./zh-hans/" rel="home">CANDY'S JEWELRY</a></h1>
      <div class="site-header-line site-header-line--icon"></div>
    </div>

    <div class="site-tools">

      <div class="back-to-top">
        <a href="#top">top</a>
      </div>

      <div class="language-switcher">

        <span class="language-switcher--label">语言<span class="meta">:</span></span>

        <ul class="language-switcher--list">
          <li><a href="./index_en.html">EN</a></li>
          <li class="current-item"><a href="/">简体中文</a></li>
        </ul>

      </div>

    </div>

    <div class="site-navigation">

      <nav id="navigation-main" class="navigation-main" role="navigation">

        <a href="#menu-primary-container" class="menu-toggle"><span>菜单
</span></a>

        <div id="menu-primary-container" class="menu-primary-container">
          <ul id="menu-primary" class="menu">
            <li id="menu-item-49391"
                class="drawer--double-menu collections menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-49391">
              <a href="./zh-hans/jewellery/">珠宝系列</a>
              <ul class="sub-menu">
                <li id="menu-item-8297"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-8297">
                  <a href="#">浏览类别</a>
                  <ul class="sub-menu">
                    <li id="menu-item-19791"
                        class="menu-item menu-item-type-taxonomy menu-item-object-graff_jewel_category menu-item-19791">
                      <a href="./zh-hans/categories/rings/">戒指</a></li>
                    <li id="menu-item-19792"
                        class="menu-item menu-item-type-taxonomy menu-item-object-graff_jewel_category menu-item-19792">
                      <a href="./zh-hans/categories/bracelets/">手链</a></li>
                    <li id="menu-item-19793"
                        class="menu-item menu-item-type-taxonomy menu-item-object-graff_jewel_category menu-item-19793">
                      <a href="./zh-hans/categories/necklaces/">项链</a></li>
                    <li id="menu-item-19794"
                        class="menu-item menu-item-type-taxonomy menu-item-object-graff_jewel_category menu-item-19794">
                      <a href="./zh-hans/categories/pendants/">吊坠</a></li>
                    <li id="menu-item-19795"
                        class="menu-item menu-item-type-taxonomy menu-item-object-graff_jewel_category menu-item-19795">
                      <a href="./zh-hans/categories/earrings/">耳环</a></li>
                    <li id="menu-item-19795"
                        class="menu-item menu-item-type-taxonomy menu-item-object-graff_jewel_category menu-item-19795">
                      <a href="./zh-hans/categories/earrings/">胸针</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li id="menu-item-19856"
                class="drawer--stores menu-item menu-item-type-post_type menu-item-object-page menu-item-19856"><a
                      href="./zh-hans/stores/">婚嫁系列</a></li>
            <li id="menu-item-8366"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-8366">
              <a href="./zh-hans/house/">品牌</a>
              <ul class="sub-menu">
                <li id="menu-item-8367" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8367">
                  <a href="./zh-hans/house/graff/">Candy's的故事</a></li>
                <li id="menu-item-51335"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-51335"><a
                          href="./zh-hans/house/exhibitions/">展览</a></li>
              </ul>
            </li>
            <li id="menu-item-19856"
                class="drawer--stores menu-item menu-item-type-post_type menu-item-object-page menu-item-19856"><a
                      href="./zh-hans/stores/">店铺信息</a></li>
            <li id="menu-item-19856"
                class="drawer--stores menu-item menu-item-type-post_type menu-item-object-page menu-item-19856"><a
                      href="./zh-hans/stores/">定制流程</a></li>
          </ul>
        </div>

      </nav>


      <div class="drawers nav-drawers loading">
      </div>

    </div>


  </header>

  <div id="content" class="site-content">

    <main class="page-parts">


      <div id="p-1954"
           class="page-part has-line type-page opt-content-position-ro no-opt-margin-sides page-part-background"
           data-scroll-view-more="探索更多">


        <div class="page-part--inner">

          <div class="page-part--image">
            <div class="page-part--image-inner">
              <div class="background-image-container has-mobile-image">
                <div class="background-image-placeholder type-background-image lazy"
                     data-src="http://file.candysjewel.com/DSC_4377.jpg">
                  <div class="background-image-placeholder--inner" style="padding-top: 60%"></div>
                </div>
                <div class="background-image-placeholder type-mobile-image lazy"
                     data-src="./wp-content/uploads/2017/04/a-pink-pearshape-ring-by-graff-diamonds-infront-of-a-pink-powder-explosion_.jpg">
                  <div class="background-image-placeholder--inner" style="padding-top: 79.293739967897%"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="page-part--body-outer">


            <div class="page-part--body">
              <div class="page-part--content" style="color: white">

                <h1 class="large-title" style="text-align: center;color: white">珍罕色彩</h1>
                <h2 style="text-align: center;color: white">令人屏息的艳丽之色</h2>
                <p style="text-align: center;color: white"><a class="button button-secondary"
                                                              href="./zh-hans/campaigns/rainbow-rarity/">探索更多</a>
                </p>

              </div>
            </div>


          </div>

        </div>


      </div>


      <div id="p-21490"
           class="page-part opt-margin-sides opt-margin-above opt-margin-below opt-content-position-oo page-part-image-left-60 page-part-image-side page-part-image-side-60 page-part-image-left">


        <div class="page-part--inner">


          <div class="page-part--image">

            <picture><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazy"
                          data-src="http://file.candysjewel.com/1517812722237.jpg"
                          alt=""/></picture>
          </div>

          <div class="page-part--body">


            <div class="page-part--content">

              <h4>探索</h4>
              <h2>独特珍品</h2>
              <p>从瑰丽高级珠宝，以至传奇名钻，每一件也是CANDY'S最令人惊艳的珍罕瑰宝。</p>
              <p><a class="button button-primary" href="./zh-hans/unique/#high-jewellery">探索更多</a>
              </p>


            </div>


          </div>

        </div>
      </div>

      <div id="p-41627"
           class="page-part opt-margin-sides opt-margin-below opt-content-position-oo page-part-image-right-60 page-part-image-side page-part-image-side-60 page-part-image-right">


        <div class="page-part--inner">


          <div class="page-part--image">

            <picture><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazy"
                          data-src="http://file.candysjewel.com/1517812741200.jpg"
                          alt=""/></picture>
          </div>

          <div class="page-part--body">


            <div class="page-part--content">

              <h4>经典隽永</h4>
              <h2>Classic CANDY'S</h2>
              <p>永恒优雅的珍宝。瑰丽脱俗、演绎经典。</p>
              <p><a class="button button-primary"
                    href="./zh-hans/collections/classic-graff/">探索更多</a></p>


            </div>


          </div>

        </div>
      </div>


      <div id="p-21506"
           class="page-part opt-margin-sides opt-margin-above opt-margin-below opt-content-position-oo page-part-image-left-60 page-part-image-side page-part-image-side-60 page-part-image-left">


        <div class="page-part--inner">


          <div class="page-part--image">

            <picture><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                          class="lazy"
                          data-src="http://file.candysjewel.com/1517812730825.jpg"
                          alt=""/></picture>
          </div>

          <div class="page-part--body">


            <div class="page-part--content">

              <h4>体验</h4>
              <h2>CANDY'S婚嫁系列</h2>
              <p>精挑细选的非凡美钻，为爱、盼望与热情添上醉人光芒。</p>
              <p><a class="button button-secondary" href="./zh-hans/bridal/">探索更多</a></p>


            </div>


          </div>

        </div>
      </div>

    </main>


  </div>


  <div class="drawers footer-drawers">


    <div id="drawer-45151" data-drawer-id="45151" class="drawer--double-menu drawer has-feature">


      <div class="drawers--nav">

        <div class="drawers--nav-menus">
        </div>

        <div class="drawers--nav-image">
          <div class="drawers--nav-image-inner">
            <div class="image-placeholder">
            </div>
          </div>
        </div>

      </div>

      <div class="drawers--feature">


        <div class="drawers--feature-image">
          <div class="drawers--feature-image-inner">
            <div class="image-placeholder">
              <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                   data-src="./wp-content/uploads/2017/06/Graff-Eternal-Twins-Earrings-1-731x1000.jpg"
                   alt=""/>
              <noscript><img
                        src="./wp-content/uploads/2017/06/Graff-Eternal-Twins-Earrings-1-731x1000.jpg"
                        alt=""/></noscript>
            </div>
          </div>
        </div>

        <div class="drawers--feature-content">
          <h4>精选
          </h4>

          <div class="inner">
            <h2>The Eternal Twins</h2>
            <p>从同一颗原石切割而成的一双D色无瑕钻石耳环，各重50.23克拉，完美匹配。</p>
            <p><a class="button button-primary"
                  href="./zh-hans/unique/famous-diamonds/the-eternal-twins/">探索更多</a></p>
          </div>
        </div>


      </div>


    </div>


    <div id="drawer-49391" data-drawer-id="49391" class="drawer--double-menu drawer has-feature">


      <div class="drawers--nav">

        <div class="drawers--nav-menus">
        </div>

        <div class="drawers--nav-image">
          <div class="drawers--nav-image-inner">
            <div class="image-placeholder">
            </div>
          </div>
        </div>

      </div>

      <div class="drawers--feature">


        <div class="drawers--feature-image">
          <div class="drawers--feature-image-inner">
            <div class="image-placeholder">
              <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                   data-src="./wp-content/uploads/2017/06/Classic-Graff-jewellery-collection-769x1000.jpg"
                   alt=""/>
              <noscript><img
                        src="./wp-content/uploads/2017/06/Classic-Graff-jewellery-collection-769x1000.jpg"
                        alt=""/></noscript>
            </div>
          </div>
        </div>

        <div class="drawers--feature-content">
          <h4>精选
          </h4>

          <div class="inner">
            <h2>Classic CANDY's</h2>
            <p>经典永恒：体现CANDY'S璀璨夺目的隽永珠宝系列。</p>
          </div>
        </div>


      </div>


    </div>


    <div id="drawer-19796" data-drawer-id="19796" class="drawer has-feature">


      <div class="drawers--nav">

        <div class="drawers--nav-menus">
        </div>

        <div class="drawers--nav-image">
          <div class="drawers--nav-image-inner">
            <div class="image-placeholder">
            </div>
          </div>
        </div>

      </div>

      <div class="drawers--feature">


        <div class="drawers--feature-image">
          <div class="drawers--feature-image-inner">
            <div class="image-placeholder">
              <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                   data-src="./wp-content/uploads/2017/06/Graff-Drawer-Image-Bridal-The-Graff-Way-769x1000.jpg"
                   alt=""/>
              <noscript><img
                        src="./wp-content/uploads/2017/06/Graff-Drawer-Image-Bridal-The-Graff-Way-769x1000.jpg"
                        alt=""/></noscript>
            </div>
          </div>
        </div>

        <div class="drawers--feature-content">
          <h4>精选
          </h4>

          <div class="inner">
            <h2>与众不同的CANDY'S</h2>
            <p>婚嫁系列中的每一颗钻石，也由CANDY'S的家族成员亲手挑选。</p>
            <p><a class="button button-primary"
                  href="./zh-hans/bridal/bridal-guides/">了解更多</a></p>
          </div>
        </div>


      </div>


    </div>


    <div id="drawer-8362" data-drawer-id="8362" class="drawer--double-menu drawer has-feature">


      <div class="drawers--nav">

        <div class="drawers--nav-menus">
        </div>

        <div class="drawers--nav-image">
          <div class="drawers--nav-image-inner">
            <div class="image-placeholder">
            </div>
          </div>
        </div>

      </div>

      <div class="drawers--feature">


        <div class="drawers--feature-image">
          <div class="drawers--feature-image-inner">
            <div class="image-placeholder">
              <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                   data-src="./wp-content/uploads/2017/06/Graff-Drawer-Image-Wacth-Craftsmanship-769x1000-769x1000.jpeg"
                   alt=""/>
              <noscript><img
                        src="./wp-content/uploads/2017/06/Graff-Drawer-Image-Wacth-Craftsmanship-769x1000-769x1000.jpeg"
                        alt=""/></noscript>
            </div>
          </div>
        </div>

        <div class="drawers--feature-content">
          <h4>精选
          </h4>

          <div class="inner">
            <h2>CANDY'S设计特色</h2>
            <p>探索CANDY'S腕表别具一格、令人难忘的设计特色。</p>
            <p><a class="button button-primary"
                  href="./zh-hans/watches/hallmarks-graff-watch/">了解更多</a></p>
          </div>
        </div>


      </div>


    </div>


    <div id="drawer-8366" data-drawer-id="8366" class="drawer has-feature">


      <div class="drawers--nav">

        <div class="drawers--nav-menus">
        </div>

        <div class="drawers--nav-image">
          <div class="drawers--nav-image-inner">
            <div class="image-placeholder">
            </div>
          </div>
        </div>

      </div>

      <div class="drawers--feature">


        <div class="drawers--feature-image">
          <div class="drawers--feature-image-inner">
            <div class="image-placeholder">
              <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                   data-src="./wp-content/uploads/2017/08/Graff-Diamonds-Rarity-The-Golden-Empress-1000x1000.jpg"
                   alt=""/>
              <noscript><img
                        src="./wp-content/uploads/2017/08/Graff-Diamonds-Rarity-The-Golden-Empress-1000x1000.jpg"
                        alt=""/></noscript>
            </div>
          </div>
        </div>

        <div class="drawers--feature-content">
          <h4>精选
          </h4>

          <div class="inner">
            <h2>CANDY'S的故事</h2>
            <p>探索CANDY'S钻石的奇妙旅程。</p>
            <p><a class="button button-primary" href="./zh-hans/house/graff/">了解更多</a></p>
          </div>
        </div>


      </div>


    </div>


    <div id="drawer-19856" data-drawer-id="19856" class="drawer--stores drawer no-feature">


      <div class="stores-search">

        <div class="page-header">
          <h1 class="page-title">欢迎来到CANDY'S JEWELRY</h1>
        </div>
      </div>

    </div>


  </div>
  <%- include('footer'); %>

  <footer class="site-footer">


    <div class="colophon">

      <!--
            <nav class="navigation-footer" role="navigation">
              <ul class="menu menu-footer">
                <li id="menu-item-25802" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25802"><a
                  href="./zh-hans/legals/">法律条款</a></li>
                <li id="menu-item-25803" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25803"><a
                  href="./zh-hans/contact/">联系我们</a></li>
                <li id="menu-item-19863" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19863"><a
                  href="./zh-hans/stores/">珠宝店</a></li>
              </ul>
            </nav>
      -->


      <div class="site-info">
        <span class="copyright">&copy; 2018 CANDY'S</span>
      </div>

    </div>

  </footer>

</div>


<div class="wechat-qr">
	<span class="wechat-qr-content">
		<span class="wechat-qr-img"></span>
		<span class="wechat-qr-title">Scan via WeChat App to follow Graff</span>
	</span>
</div>

<%- include('script'); %>

</body>
</html>
