<!DOCTYPE html>
<html lang="en" class="no-js">
<%- include('../head'); %>
<body
				class="home page-template-default page page-id-1954 single-opt-content-position-ro single-no-opt-fullscreen group-blog">
<div id="page" class="site">
	<a class="skip-link screen-reader-text" href="#content">跳至内容
	</a>


  <%- include('../header'); %>

	<div id="content" class="site-content">

		<main class="page-parts">


			<div id="t-674" class="page-part type-page no-opt-margin-sides">

				<div class="page-part--inner">

					<div class="page-part--image" data-scroll-view-more="查看系列
">
						<div class="background-image-placeholder lazy" data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/11/a-graff-diamond-fringe-necklace-2500x1500.jpg"><div class="background-image-placeholder--inner" style="padding-top: 60%"></div></div>			</div>

					<div class="page-part--body">

						<div class="page-part--content">

							<h1>项链</h1>

							<div class="page-part--content-description"><p>欣赏CANDY'S以珍罕钻石与鲜艳宝石精雕细琢而成的瑰丽项链，感受令人一见倾心的设计。</p>
							</div>
						</div>

					</div>

				</div>

			</div>


			<div class="filters-panel__container unfixed">
				<div id="filters-panel" class="filters-panel">

					<div class="filters-panel--bar">

						<div class="filters-panel--toggle">
							<h3 class="toggle-expand"><a href="#filters-panel">筛选
								</a></h3>
						</div>


					</div>

					<div class="filters-panel--groups">

						<div class="filters-panel--group" data-filter-type="jewel_category">
							<h3 class="toggle-expand"><span>类别
</span></h3>
							<ul>
								<li class="graff-filter-item" data-filter-item="earrings"><a href="https://www.graffdiamonds.com/zh-hans/categories/earrings/">耳环</a></li><li class="graff-filter-item" data-filter-item="rings"><a href="https://www.graffdiamonds.com/zh-hans/categories/rings/">戒指</a></li><li class="graff-filter-item" data-filter-item="pendants"><a href="https://www.graffdiamonds.com/zh-hans/categories/pendants/">吊坠</a></li><li class="graff-filter-item hidden" data-filter-item="brooches-zh-hans"><a href="https://www.graffdiamonds.com/zh-hans/categories/brooches-zh-hans/">胸针</a></li><li class="graff-filter-item hidden" data-filter-item="bands-zh-hans"><a href="https://www.graffdiamonds.com/zh-hans/categories/bands-zh-hans/">Bands</a></li><li class="graff-filter-item current-item" data-filter-item="necklaces"><a href="https://www.graffdiamonds.com/zh-hans/categories/necklaces/">项链</a></li><li class="graff-filter-item" data-filter-item="hair-jewellery-zh-hans"><a href="https://www.graffdiamonds.com/zh-hans/categories/hair-jewellery-zh-hans/">发饰</a></li><li class="graff-filter-item" data-filter-item="bracelets"><a href="https://www.graffdiamonds.com/zh-hans/categories/bracelets/">手链</a></li>					</ul>
						</div>

						<div class="filters-panel--group filter-inline remove-inline" data-filter-type="jewel_collection">
							<h3 class="toggle-expand"><span>系列
</span></h3>
							<ul>
								<li class="view-all current-item"><a href="/zh-hans/categories/necklaces/">查看全部
									</a></li><li class="graff-filter-item hidden" data-filter-item="classic-graff"><a href="https://www.graffdiamonds.com/zh-hans/categories/necklaces/?jewel_collection=classic-graff">Classic CANDY'S</a></li><li class="graff-filter-item" data-filter-item="swirl-rings"><a href="https://www.graffdiamonds.com/zh-hans/categories/necklaces/?jewel_collection=swirl-rings">Swirl戒指</a></li><li class="graff-filter-item hidden" data-filter-item="classic-lines"><a href="https://www.graffdiamonds.com/zh-hans/categories/necklaces/?jewel_collection=classic-lines">Classic Lines</a></li><li class="graff-filter-item hidden" data-filter-item="butterfly"><a href="https://www.graffdiamonds.com/zh-hans/categories/necklaces/?jewel_collection=butterfly">蝴蝶</a></li><li class="graff-filter-item hidden" data-filter-item="bombe"><a href="https://www.graffdiamonds.com/zh-hans/categories/necklaces/?jewel_collection=bombe">Bombé</a></li><li class="graff-filter-item" data-filter-item="snowfall"><a href="https://www.graffdiamonds.com/zh-hans/categories/necklaces/?jewel_collection=snowfall">Snowfall</a></li><li class="graff-filter-item" data-filter-item="bow"><a href="https://www.graffdiamonds.com/zh-hans/categories/necklaces/?jewel_collection=bow">Bow</a></li><li class="graff-filter-item" data-filter-item="nuage"><a href="https://www.graffdiamonds.com/zh-hans/categories/necklaces/?jewel_collection=nuage">Nuage</a></li><li class="graff-filter-item" data-filter-item="carissa"><a href="https://www.graffdiamonds.com/zh-hans/categories/necklaces/?jewel_collection=carissa">Carissa</a></li><li class="graff-filter-item" data-filter-item="peony"><a href="https://www.graffdiamonds.com/zh-hans/categories/necklaces/?jewel_collection=peony">Peony</a></li>					</ul>
						</div>

						<div class="filters-panel--group filter-inline remove-inline" data-filter-type="stone">
							<h3 class="toggle-expand"><span>宝石
</span></h3>
							<ul>
								<li class="view-all current-item"><a href="/zh-hans/categories/necklaces/">查看全部
									</a></li><li class="graff-filter-item hidden" data-filter-item="blue-diamond-zh-hans"><a href="/zh-hans/categories/necklaces/?stone=blue-diamond-zh-hans">Blue diamond</a></li><li class="graff-filter-item" data-filter-item="diamond-zh-hans"><a href="/zh-hans/categories/necklaces/?stone=diamond-zh-hans">钻石</a></li><li class="graff-filter-item" data-filter-item="yellow-diamond-zh-hans"><a href="/zh-hans/categories/necklaces/?stone=yellow-diamond-zh-hans">黄钻</a></li><li class="graff-filter-item" data-filter-item="pink-diamond-zh-hans"><a href="/zh-hans/categories/necklaces/?stone=pink-diamond-zh-hans">粉红钻</a></li><li class="graff-filter-item" data-filter-item="ruby-zh-hans"><a href="/zh-hans/categories/necklaces/?stone=ruby-zh-hans">红宝石</a></li><li class="graff-filter-item" data-filter-item="sapphire-zh-hans"><a href="/zh-hans/categories/necklaces/?stone=sapphire-zh-hans">蓝宝石</a></li><li class="graff-filter-item" data-filter-item="emerald-zh-hans"><a href="/zh-hans/categories/necklaces/?stone=emerald-zh-hans">祖母绿</a></li>					</ul>
						</div>

					</div>

				</div>
			</div>


			<div class="page-part page-part-grid-previews">
				<div class="page-part--inner">

					<div class="page-part--body">
						<div class="page-part--content">

							<h2><a href="https://www.graffdiamonds.com/zh-hans/collections/classic-graff-necklaces/">Classic CANDY'S 项链<a/></h2>
							<p class="subtitle"><a href="https://www.graffdiamonds.com/zh-hans/collections/classic-graff-necklaces/">(查看全部
									)</a></p>

						</div>
					</div>

					<div class="grid grid--3 grid-previews">

						<article id="post-45583" class="grid-item grid-item--preview type-graff_jewel jewel-type--collections filtered--jewel_collection-classic-graff-necklaces filtered--jewel_collection-classic-graff filtered--jewel_category-necklaces filtered--stone-diamond-zh-hans">

							<div class="grid-item-inner">

								<a href="https://www.graffdiamonds.com/zh-hans/collections/classic-graff-necklaces/multi-shape-fringe-necklace-diamond/" class="entry-image lazy"  data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/11/Classic-Graff-Multi-shape-Fringe-Necklace-RGN226-1000x1000.png"></a>

								<div class="entry-body">

									<header class="entry-header">

										<h3 class="entry-title"><a href="https://www.graffdiamonds.com/zh-hans/collections/classic-graff-necklaces/multi-shape-fringe-necklace-diamond/" rel="bookmark">多形切割项链</a></h3>				<h4 class="entry-subtitle">钻石</h4>
									</header>

								</div>

							</div>

						</article>

						<article id="post-41518" class="grid-item grid-item--preview type-graff_jewel jewel-type--collections filtered--jewel_collection-classic-graff-necklaces filtered--jewel_collection-classic-graff filtered--jewel_category-necklaces filtered--stone-diamond-zh-hans">

							<div class="grid-item-inner">

								<a href="https://www.graffdiamonds.com/zh-hans/collections/classic-graff-necklaces/double-strand-knot-necklace-diamond/" class="entry-image lazy"  data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/10/Classic-Graff-Double-Strand-Knot-Necklace-detail-RGN382-1-1000x1000.png"></a>

								<div class="entry-body">

									<header class="entry-header">

										<h3 class="entry-title"><a href="https://www.graffdiamonds.com/zh-hans/collections/classic-graff-necklaces/double-strand-knot-necklace-diamond/" rel="bookmark">双绳结造型项链</a></h3>				<h4 class="entry-subtitle">钻石</h4>
									</header>

								</div>

							</div>

						</article>

						<article id="post-41526" class="grid-item grid-item--preview type-graff_jewel jewel-type--collections filtered--jewel_collection-classic-graff-necklaces filtered--jewel_collection-classic-graff filtered--jewel_category-necklaces filtered--cut-round-brilliant-zh-hans filtered--cut-pear-shape-zh-hans filtered--stone-diamond-zh-hans">

							<div class="grid-item-inner">

								<a href="https://www.graffdiamonds.com/zh-hans/collections/classic-graff-necklaces/multi-shape-cross-over-necklace-diamond/" class="entry-image lazy"  data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/10/Classic-Graff-multi-shape-diamond-Crossover-necklace-GN5590-detail-1-1000x1000.png"></a>

								<div class="entry-body">

									<header class="entry-header">

										<h3 class="entry-title"><a href="https://www.graffdiamonds.com/zh-hans/collections/classic-graff-necklaces/multi-shape-cross-over-necklace-diamond/" rel="bookmark">多形切割Cross-over项链</a></h3>				<h4 class="entry-subtitle">钻石</h4>
									</header>

								</div>

							</div>

						</article>

						<article id="post-41522" class="grid-item grid-item--preview type-graff_jewel jewel-type--collections filtered--jewel_collection-classic-graff-necklaces filtered--jewel_collection-classic-graff filtered--jewel_category-necklaces filtered--cut-round-brilliant-zh-hans filtered--cut-pear-shape-zh-hans filtered--cut-marquise-zh-hans filtered--stone-diamond-zh-hans">

							<div class="grid-item-inner">

								<a href="https://www.graffdiamonds.com/zh-hans/collections/classic-graff-necklaces/multi-shape-necklace-diamond/" class="entry-image lazy"  data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/10/Classic-Graff_multi-shape-diamond-necklace-GN8294--1000x1000.png"></a>

								<div class="entry-body">

									<header class="entry-header">

										<h3 class="entry-title"><a href="https://www.graffdiamonds.com/zh-hans/collections/classic-graff-necklaces/multi-shape-necklace-diamond/" rel="bookmark">多形切割项链</a></h3>				<h4 class="entry-subtitle">钻石</h4>
									</header>

								</div>

							</div>

						</article>

						<article id="post-41524" class="grid-item grid-item--preview type-graff_jewel jewel-type--collections filtered--jewel_collection-classic-graff-necklaces filtered--jewel_collection-classic-graff filtered--jewel_category-necklaces filtered--cut-round-brilliant-zh-hans filtered--stone-diamond-zh-hans">

							<div class="grid-item-inner">

								<a href="https://www.graffdiamonds.com/zh-hans/collections/classic-graff-necklaces/round-diamond-necklace-diamond/" class="entry-image lazy"  data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/10/Classic-Graff_round-brilliant-diamond-necklace-GN7882-1000x1000.png"></a>

								<div class="entry-body">

									<header class="entry-header">

										<h3 class="entry-title"><a href="https://www.graffdiamonds.com/zh-hans/collections/classic-graff-necklaces/round-diamond-necklace-diamond/" rel="bookmark">圆形项链</a></h3>				<h4 class="entry-subtitle">钻石</h4>
									</header>

								</div>

							</div>

						</article>

						<article id="post-41520" class="grid-item grid-item--preview type-graff_jewel jewel-type--collections filtered--jewel_collection-classic-graff-necklaces filtered--jewel_collection-classic-graff filtered--jewel_category-necklaces filtered--cut-pear-shape-zh-hans filtered--stone-sapphire-zh-hans">

							<div class="grid-item-inner">

								<a href="https://www.graffdiamonds.com/zh-hans/collections/classic-graff-necklaces/pear-shape-cross-over-necklace-sapphire-and-diamond/" class="entry-image lazy"  data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/10/Classic-Graff-Sapphire-and-Diamond-Pearshape-Crossover-Graff-necklace-detail-RGN479-1-1000x1000.png"></a>

								<div class="entry-body">

									<header class="entry-header">

										<h3 class="entry-title"><a href="https://www.graffdiamonds.com/zh-hans/collections/classic-graff-necklaces/pear-shape-cross-over-necklace-sapphire-and-diamond/" rel="bookmark">梨形Cross-over项链</a></h3>				<h4 class="entry-subtitle">蓝宝石和钻石</h4>
									</header>

								</div>

							</div>

						</article>
					</div>


					<p class="buttons-row">
						<a href="https://www.graffdiamonds.com/zh-hans/collections/classic-graff-necklaces/" class="button button-primary">浏览Classic CANDY'S 项链系列
						</a>
					</p>

				</div>
			</div>
			<div class="page-part page-part-grid-previews">
				<div class="page-part--inner">

					<div class="page-part--body">
						<div class="page-part--content">

							<h2><a href="https://www.graffdiamonds.com/zh-hans/collections/classic-butterfly/">经典蝴蝶<a/></h2>
							<p class="subtitle"><a href="https://www.graffdiamonds.com/zh-hans/collections/classic-butterfly/">(查看全部
									)</a></p>

						</div>
					</div>

					<div class="grid grid--3 grid-previews">

						<article id="post-9126" class="grid-item grid-item--preview type-graff_jewel jewel-type--collections filtered--jewel_collection-classic-butterfly filtered--jewel_collection-butterfly filtered--jewel_category-necklaces filtered--stone-diamond-zh-hans">

							<div class="grid-item-inner">

								<a href="https://www.graffdiamonds.com/zh-hans/collections/classic-butterfly/classic-butterfly-chandelier-pendant-diamond/" class="entry-image lazy"  data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/07/Graff-Classic-Butterfly-Diamond-Chandelier-Necklace_RGN168-1000x1000.png"></a>

								<div class="entry-body">

									<header class="entry-header">

										<h3 class="entry-title"><a href="https://www.graffdiamonds.com/zh-hans/collections/classic-butterfly/classic-butterfly-chandelier-pendant-diamond/" rel="bookmark">经典蝴蝶项链</a></h3>				<h4 class="entry-subtitle">钻石</h4>
									</header>

								</div>

							</div>

						</article>

						<article id="post-9132" class="grid-item grid-item--preview type-graff_jewel jewel-type--collections filtered--jewel_collection-classic-butterfly filtered--jewel_collection-butterfly filtered--jewel_category-necklaces filtered--stone-emerald-zh-hans">

							<div class="grid-item-inner">

								<a href="https://www.graffdiamonds.com/zh-hans/collections/classic-butterfly/classic-butterfly-chandelier-pendant-emerald-and-diamond/" class="entry-image lazy"  data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/07/Graff-Classic-Butterfly-Emerald-and-Diamond-Chandelier-Necklace_RGN200-1000x1000.png"></a>

								<div class="entry-body">

									<header class="entry-header">

										<h3 class="entry-title"><a href="https://www.graffdiamonds.com/zh-hans/collections/classic-butterfly/classic-butterfly-chandelier-pendant-emerald-and-diamond/" rel="bookmark">经典蝴蝶项链</a></h3>				<h4 class="entry-subtitle">祖母绿和钻石</h4>
									</header>

								</div>

							</div>

						</article>

						<article id="post-9147" class="grid-item grid-item--preview type-graff_jewel jewel-type--collections filtered--jewel_collection-classic-butterfly filtered--jewel_collection-butterfly filtered--jewel_category-necklaces filtered--stone-sapphire-zh-hans">

							<div class="grid-item-inner">

								<a href="https://www.graffdiamonds.com/zh-hans/collections/classic-butterfly/classic-butterfly-chandelier-pendant-sapphire-and-diamond/" class="entry-image lazy"  data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/07/Graff-Classic-Butterfly-Sapphire-and-Diamond-Chandelier-Necklace_RGN170_GN5810-1000x1000.png"></a>

								<div class="entry-body">

									<header class="entry-header">

										<h3 class="entry-title"><a href="https://www.graffdiamonds.com/zh-hans/collections/classic-butterfly/classic-butterfly-chandelier-pendant-sapphire-and-diamond/" rel="bookmark">经典蝴蝶项链</a></h3>				<h4 class="entry-subtitle">蓝宝石和钻石</h4>
									</header>

								</div>

							</div>

						</article>

						<article id="post-9141" class="grid-item grid-item--preview type-graff_jewel jewel-type--collections filtered--jewel_collection-classic-butterfly filtered--jewel_collection-butterfly filtered--jewel_category-necklaces filtered--stone-ruby-zh-hans">

							<div class="grid-item-inner">

								<a href="https://www.graffdiamonds.com/zh-hans/collections/classic-butterfly/classic-butterfly-chandelier-pendant-ruby-and-diamond/" class="entry-image lazy"  data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/07/Graff-Classic-Butterfly-Ruby-and-Diamond-Chandelier-Necklace_RGN169-1000x1000.png"></a>

								<div class="entry-body">

									<header class="entry-header">

										<h3 class="entry-title"><a href="https://www.graffdiamonds.com/zh-hans/collections/classic-butterfly/classic-butterfly-chandelier-pendant-ruby-and-diamond/" rel="bookmark">经典蝴蝶项链</a></h3>				<h4 class="entry-subtitle">红宝石和钻石</h4>
									</header>

								</div>

							</div>

						</article>
					</div>


					<p class="buttons-row">
						<a href="https://www.graffdiamonds.com/zh-hans/collections/classic-butterfly/" class="button button-primary">浏览经典蝴蝶系列
						</a>
					</p>

				</div>
			</div>
			<div class="page-part page-part-grid-previews">
				<div class="page-part--inner">

					<div class="page-part--body">
						<div class="page-part--content">

							<h2><a href="https://www.graffdiamonds.com/zh-hans/collections/triple-pave-butterfly/">缱绻蝴蝶三重奏<a/></h2>
							<p class="subtitle"><a href="https://www.graffdiamonds.com/zh-hans/collections/triple-pave-butterfly/">(查看全部
									)</a></p>

						</div>
					</div>

					<div class="grid grid--3 grid-previews">

						<article id="post-10182" class="grid-item grid-item--preview type-graff_jewel jewel-type--collections filtered--jewel_collection-triple-pave-butterfly filtered--jewel_collection-butterfly filtered--jewel_category-necklaces filtered--stone-diamond-zh-hans">

							<div class="grid-item-inner">

								<a href="https://www.graffdiamonds.com/zh-hans/collections/triple-pave-butterfly/triple-pave-butterfly-necklace-diamond/" class="entry-image lazy"  data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/07/Graff_Triple-Pavé-Butterfly-Necklace_-Diamond-_RGN370-1000x1000.png"></a>

								<div class="entry-body">

									<header class="entry-header">

										<h3 class="entry-title"><a href="https://www.graffdiamonds.com/zh-hans/collections/triple-pave-butterfly/triple-pave-butterfly-necklace-diamond/" rel="bookmark">缱绻蝴蝶三重奏项链</a></h3>				<h4 class="entry-subtitle">钻石</h4>
									</header>

								</div>

							</div>

						</article>

						<article id="post-10168" class="grid-item grid-item--preview type-graff_jewel jewel-type--collections filtered--jewel_collection-triple-pave-butterfly filtered--jewel_collection-butterfly filtered--jewel_category-necklaces filtered--stone-yellow-diamond-zh-hans">

							<div class="grid-item-inner">

								<a href="https://www.graffdiamonds.com/zh-hans/collections/triple-pave-butterfly/triple-pave-butterfly-necklace-yellow-and-white-diamond/" class="entry-image lazy"  data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/07/Graff_Triple-Pavé-Butterfly-Necklace_Yellow-Diamond-_RGN391_GN7303-1000x1000.png"></a>

								<div class="entry-body">

									<header class="entry-header">

										<h3 class="entry-title"><a href="https://www.graffdiamonds.com/zh-hans/collections/triple-pave-butterfly/triple-pave-butterfly-necklace-yellow-and-white-diamond/" rel="bookmark">缱绻蝴蝶三重奏项链</a></h3>				<h4 class="entry-subtitle">黄钻和白钻</h4>
									</header>

								</div>

							</div>

						</article>

						<article id="post-10077" class="grid-item grid-item--preview type-graff_jewel jewel-type--collections filtered--jewel_collection-triple-pave-butterfly filtered--jewel_collection-butterfly filtered--jewel_category-necklaces filtered--stone-pink-diamond-zh-hans">

							<div class="grid-item-inner">

								<a href="https://www.graffdiamonds.com/zh-hans/collections/triple-pave-butterfly/triple-pave-butterfly-necklace-pink-and-white-diamond/" class="entry-image lazy"  data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/07/Graff_Triple-Pavé-Butterfly-Necklace_Pink-Diamond-_RGN392_GN7304-1000x1000.png"></a>

								<div class="entry-body">

									<header class="entry-header">

										<h3 class="entry-title"><a href="https://www.graffdiamonds.com/zh-hans/collections/triple-pave-butterfly/triple-pave-butterfly-necklace-pink-and-white-diamond/" rel="bookmark">缱绻蝴蝶三重奏项链</a></h3>				<h4 class="entry-subtitle">粉红钻和白钻</h4>
									</header>

								</div>

							</div>

						</article>
					</div>


					<p class="buttons-row">
						<a href="https://www.graffdiamonds.com/zh-hans/collections/triple-pave-butterfly/" class="button button-primary">浏览缱绻蝴蝶三重奏系列
						</a>
					</p>

				</div>
			</div>
			<div class="page-part page-part-grid-previews">
				<div class="page-part--inner">

					<div class="page-part--body">
						<div class="page-part--content">

							<h2><a href="https://www.graffdiamonds.com/zh-hans/collections/bombe-classic/">Bombé Classic<a/></h2>
							<p class="subtitle"><a href="https://www.graffdiamonds.com/zh-hans/collections/bombe-classic/">(查看全部
									)</a></p>

						</div>
					</div>

					<div class="grid grid--3 grid-previews">

						<article id="post-10532" class="grid-item grid-item--preview type-graff_jewel jewel-type--collections filtered--jewel_collection-bombe-classic filtered--jewel_collection-bombe filtered--jewel_category-necklaces filtered--stone-ruby-zh-hans">

							<div class="grid-item-inner">

								<a href="https://www.graffdiamonds.com/zh-hans/collections/bombe-classic/bombe-necklace-ruby-and-diamond/" class="entry-image lazy"  data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/07/Graff_Bombé-Classic_Bombe-necklace-Ruby-and-Diamond_RGN271-1000x1000.png"></a>

								<div class="entry-body">

									<header class="entry-header">

										<h3 class="entry-title"><a href="https://www.graffdiamonds.com/zh-hans/collections/bombe-classic/bombe-necklace-ruby-and-diamond/" rel="bookmark">Bombé项链</a></h3>				<h4 class="entry-subtitle">红宝石和钻石</h4>
									</header>

								</div>

							</div>

						</article>

						<article id="post-10547" class="grid-item grid-item--preview type-graff_jewel jewel-type--collections filtered--jewel_collection-bombe-classic filtered--jewel_collection-bombe filtered--jewel_category-necklaces filtered--stone-sapphire-zh-hans">

							<div class="grid-item-inner">

								<a href="https://www.graffdiamonds.com/zh-hans/collections/bombe-classic/bombe-necklace-sapphire-and-diamond/" class="entry-image lazy"  data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/07/Graff_Bombé-Classic_Bombe-necklace-Sapphire-and-Diamond_RGN272-1000x1000.png"></a>

								<div class="entry-body">

									<header class="entry-header">

										<h3 class="entry-title"><a href="https://www.graffdiamonds.com/zh-hans/collections/bombe-classic/bombe-necklace-sapphire-and-diamond/" rel="bookmark">Bombé项链</a></h3>				<h4 class="entry-subtitle">蓝宝石和钻石</h4>
									</header>

								</div>

							</div>

						</article>

						<article id="post-10489" class="grid-item grid-item--preview type-graff_jewel jewel-type--collections filtered--jewel_collection-bombe-classic filtered--jewel_collection-bombe filtered--jewel_category-necklaces filtered--stone-emerald-zh-hans">

							<div class="grid-item-inner">

								<a href="https://www.graffdiamonds.com/zh-hans/collections/bombe-classic/bombe-necklace-emerald/" class="entry-image lazy"  data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/07/Graff_Bombé-Classic_Bombe-necklace-Emerald-and-Diamond_RGN278-1000x1000.png"></a>

								<div class="entry-body">

									<header class="entry-header">

										<h3 class="entry-title"><a href="https://www.graffdiamonds.com/zh-hans/collections/bombe-classic/bombe-necklace-emerald/" rel="bookmark">Bombé项链</a></h3>				<h4 class="entry-subtitle">祖母绿和钻石</h4>
									</header>

								</div>

							</div>

						</article>

						<article id="post-10476" class="grid-item grid-item--preview type-graff_jewel jewel-type--collections filtered--jewel_collection-bombe-classic filtered--jewel_collection-bombe filtered--jewel_category-necklaces filtered--stone-diamond-zh-hans">

							<div class="grid-item-inner">

								<a href="https://www.graffdiamonds.com/zh-hans/collections/bombe-classic/bombe-necklace-diamond/" class="entry-image lazy"  data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/07/Graff_Bombé-Classic_Bombe-necklace-Diamond_RGN273_GN6155-1000x1000.png"></a>

								<div class="entry-body">

									<header class="entry-header">

										<h3 class="entry-title"><a href="https://www.graffdiamonds.com/zh-hans/collections/bombe-classic/bombe-necklace-diamond/" rel="bookmark">Bombé项链</a></h3>				<h4 class="entry-subtitle">钻石</h4>
									</header>

								</div>

							</div>

						</article>
					</div>


					<p class="buttons-row">
						<a href="https://www.graffdiamonds.com/zh-hans/collections/bombe-classic/" class="button button-primary">浏览Bombé Classic系列
						</a>
					</p>

				</div>
			</div>
			<div class="page-part page-part-grid-previews">
				<div class="page-part--inner">

					<div class="page-part--body">
						<div class="page-part--content">

							<h2><a href="https://www.graffdiamonds.com/zh-hans/collections/snowfall/">Snowfall<a/></h2>
							<p class="subtitle"><a href="https://www.graffdiamonds.com/zh-hans/collections/snowfall/">(查看全部
									)</a></p>

						</div>
					</div>

					<div class="grid grid--3 grid-previews">

						<article id="post-9025" class="grid-item grid-item--preview type-graff_jewel jewel-type--collections filtered--jewel_collection-snowfall filtered--jewel_category-necklaces filtered--stone-diamond-zh-hans">

							<div class="grid-item-inner">

								<a href="https://www.graffdiamonds.com/zh-hans/collections/snowfall/snowfall-necklace-diamond/" class="entry-image lazy"  data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/07/Diamond-Necklace-Graff-Snowfall-Collection-RGN487-1000x1000.png"></a>

								<div class="entry-body">

									<header class="entry-header">

										<h3 class="entry-title"><a href="https://www.graffdiamonds.com/zh-hans/collections/snowfall/snowfall-necklace-diamond/" rel="bookmark">Snowfall 项链</a></h3>				<h4 class="entry-subtitle">钻石</h4>
									</header>

								</div>

							</div>

						</article>
					</div>


					<p class="buttons-row">
						<a href="https://www.graffdiamonds.com/zh-hans/collections/snowfall/" class="button button-primary">浏览Snowfall系列
						</a>
					</p>

				</div>
			</div>
			<div class="page-part page-part-grid-previews">
				<div class="page-part--inner">

					<div class="page-part--body">
						<div class="page-part--content">

							<h2><a href="https://www.graffdiamonds.com/zh-hans/collections/bow/">Bow<a/></h2>
							<p class="subtitle"><a href="https://www.graffdiamonds.com/zh-hans/collections/bow/">(查看全部
									)</a></p>

						</div>
					</div>

					<div class="grid grid--3 grid-previews">

						<article id="post-42222" class="grid-item grid-item--preview type-graff_jewel jewel-type--collections filtered--jewel_collection-bow filtered--jewel_category-necklaces filtered--stone-diamond-zh-hans">

							<div class="grid-item-inner">

								<a href="https://www.graffdiamonds.com/zh-hans/collections/bow/bow-double-strand-necklace-diamond/" class="entry-image lazy"  data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/09/Graff_Bow-Double-Strand-Necklace_RGN462-1000x1000.png"></a>

								<div class="entry-body">

									<header class="entry-header">

										<h3 class="entry-title"><a href="https://www.graffdiamonds.com/zh-hans/collections/bow/bow-double-strand-necklace-diamond/" rel="bookmark">Bow项链</a></h3>				<h4 class="entry-subtitle">钻石</h4>
									</header>

								</div>

							</div>

						</article>

						<article id="post-42220" class="grid-item grid-item--preview type-graff_jewel jewel-type--collections filtered--jewel_collection-bow filtered--jewel_category-necklaces filtered--stone-diamond-zh-hans">

							<div class="grid-item-inner">

								<a href="https://www.graffdiamonds.com/zh-hans/collections/bow/bow-open-necklace-diamond/" class="entry-image lazy"  data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/09/Graff_Bow-Open-Necklace_RGN459-1000x1000.png"></a>

								<div class="entry-body">

									<header class="entry-header">

										<h3 class="entry-title"><a href="https://www.graffdiamonds.com/zh-hans/collections/bow/bow-open-necklace-diamond/" rel="bookmark">Bow项链</a></h3>				<h4 class="entry-subtitle">钻石</h4>
									</header>

								</div>

							</div>

						</article>

						<article id="post-42214" class="grid-item grid-item--preview type-graff_jewel jewel-type--collections filtered--jewel_collection-bow filtered--jewel_category-necklaces filtered--stone-diamond-zh-hans">

							<div class="grid-item-inner">

								<a href="https://www.graffdiamonds.com/zh-hans/collections/bow/bow-pear-drop-necklace-diamond/" class="entry-image lazy"  data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/09/Graff_Bow-Pear-Drop-Necklace_RGN460-1000x1000.png"></a>

								<div class="entry-body">

									<header class="entry-header">

										<h3 class="entry-title"><a href="https://www.graffdiamonds.com/zh-hans/collections/bow/bow-pear-drop-necklace-diamond/" rel="bookmark">Bow项链</a></h3>				<h4 class="entry-subtitle">钻石</h4>
									</header>

								</div>

							</div>

						</article>

						<article id="post-42218" class="grid-item grid-item--preview type-graff_jewel jewel-type--collections filtered--jewel_collection-bow filtered--jewel_category-necklaces filtered--stone-diamond-zh-hans">

							<div class="grid-item-inner">

								<a href="https://www.graffdiamonds.com/zh-hans/collections/bow/bow-round-drop-necklace-diamond/" class="entry-image lazy"  data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/09/Graff_Bow-Round-Drop-Necklace_RGN461-1000x1000.png"></a>

								<div class="entry-body">

									<header class="entry-header">

										<h3 class="entry-title"><a href="https://www.graffdiamonds.com/zh-hans/collections/bow/bow-round-drop-necklace-diamond/" rel="bookmark">Bow项链</a></h3>				<h4 class="entry-subtitle">钻石</h4>
									</header>

								</div>

							</div>

						</article>
					</div>


					<p class="buttons-row">
						<a href="https://www.graffdiamonds.com/zh-hans/collections/bow/" class="button button-primary">浏览Bow系列
						</a>
					</p>

				</div>
			</div>
			<div class="page-part page-part-grid-previews">
				<div class="page-part--inner">

					<div class="page-part--body">
						<div class="page-part--content">

							<h2><a href="https://www.graffdiamonds.com/zh-hans/collections/nuage/">Nuage<a/></h2>
							<p class="subtitle"><a href="https://www.graffdiamonds.com/zh-hans/collections/nuage/">(查看全部
									)</a></p>

						</div>
					</div>

					<div class="grid grid--3 grid-previews">

						<article id="post-9089" class="grid-item grid-item--preview type-graff_jewel jewel-type--collections filtered--jewel_collection-nuage filtered--jewel_category-necklaces filtered--stone-ruby-zh-hans">

							<div class="grid-item-inner">

								<a href="https://www.graffdiamonds.com/zh-hans/collections/nuage/nuage-necklace-ruby-and-diamond/" class="entry-image lazy"  data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/07/Nuage-Collection-Ruby-and-Diaomnd-Necklace-by-Graff-RGN468-1-1000x1000.png"></a>

								<div class="entry-body">

									<header class="entry-header">

										<h3 class="entry-title"><a href="https://www.graffdiamonds.com/zh-hans/collections/nuage/nuage-necklace-ruby-and-diamond/" rel="bookmark">Nuage 项链</a></h3>				<h4 class="entry-subtitle">红宝石和钻石</h4>
									</header>

								</div>

							</div>

						</article>

						<article id="post-9099" class="grid-item grid-item--preview type-graff_jewel jewel-type--collections filtered--jewel_collection-nuage filtered--jewel_category-necklaces filtered--stone-sapphire-zh-hans">

							<div class="grid-item-inner">

								<a href="https://www.graffdiamonds.com/zh-hans/collections/nuage/nuage-necklace-sapphire-and-diamond/" class="entry-image lazy"  data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/07/Sapphire-and-diamond-Nuage-Collection-necklace-by-Graff-RGN435-1000x1000.png"></a>

								<div class="entry-body">

									<header class="entry-header">

										<h3 class="entry-title"><a href="https://www.graffdiamonds.com/zh-hans/collections/nuage/nuage-necklace-sapphire-and-diamond/" rel="bookmark">Nuage项链</a></h3>				<h4 class="entry-subtitle">蓝宝石和钻石</h4>
									</header>

								</div>

							</div>

						</article>

						<article id="post-9059" class="grid-item grid-item--preview type-graff_jewel jewel-type--collections filtered--jewel_collection-nuage filtered--jewel_category-necklaces filtered--stone-diamond-zh-hans">

							<div class="grid-item-inner">

								<a href="https://www.graffdiamonds.com/zh-hans/collections/nuage/nuage-necklace-diamond/" class="entry-image lazy"  data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/07/Diamond-Nuage-Collection-necklace-by-Graff-RGN433-1000x1000.png"></a>

								<div class="entry-body">

									<header class="entry-header">

										<h3 class="entry-title"><a href="https://www.graffdiamonds.com/zh-hans/collections/nuage/nuage-necklace-diamond/" rel="bookmark">Nuage 项链</a></h3>				<h4 class="entry-subtitle">钻石</h4>
									</header>

								</div>

							</div>

						</article>
					</div>


					<p class="buttons-row">
						<a href="https://www.graffdiamonds.com/zh-hans/collections/nuage/" class="button button-primary">浏览Nuage系列
						</a>
					</p>

				</div>
			</div>
			<div class="page-part page-part-grid-previews">
				<div class="page-part--inner">

					<div class="page-part--body">
						<div class="page-part--content">

							<h2><a href="https://www.graffdiamonds.com/zh-hans/collections/carissa/">Carissa<a/></h2>
							<p class="subtitle"><a href="https://www.graffdiamonds.com/zh-hans/collections/carissa/">(查看全部
									)</a></p>

						</div>
					</div>

					<div class="grid grid--3 grid-previews">

						<article id="post-8859" class="grid-item grid-item--preview type-graff_jewel jewel-type--collections filtered--jewel_collection-carissa filtered--jewel_category-necklaces filtered--stone-ruby-zh-hans">

							<div class="grid-item-inner">

								<a href="https://www.graffdiamonds.com/zh-hans/collections/carissa/carissa-necklace-ruby-and-diamond-2/" class="entry-image lazy"  data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/07/Graff_Carissa-Necklace_Ruby-and-diamond-necklace_RGN430-1000x1000.png"></a>

								<div class="entry-body">

									<header class="entry-header">

										<h3 class="entry-title"><a href="https://www.graffdiamonds.com/zh-hans/collections/carissa/carissa-necklace-ruby-and-diamond-2/" rel="bookmark">Carissa项链</a></h3>				<h4 class="entry-subtitle">红宝石和钻石</h4>
									</header>

								</div>

							</div>

						</article>

						<article id="post-8819" class="grid-item grid-item--preview type-graff_jewel jewel-type--collections filtered--jewel_collection-carissa filtered--jewel_category-necklaces filtered--stone-diamond-zh-hans">

							<div class="grid-item-inner">

								<a href="https://www.graffdiamonds.com/zh-hans/collections/carissa/carissa-necklace-diamond-3/" class="entry-image lazy"  data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/07/Graff_Carissa-Necklace_diamond-necklace_RGN427-1000x1000.png"></a>

								<div class="entry-body">

									<header class="entry-header">

										<h3 class="entry-title"><a href="https://www.graffdiamonds.com/zh-hans/collections/carissa/carissa-necklace-diamond-3/" rel="bookmark">Carissa项链</a></h3>				<h4 class="entry-subtitle">钻石</h4>
									</header>

								</div>

							</div>

						</article>

						<article id="post-8838" class="grid-item grid-item--preview type-graff_jewel jewel-type--collections filtered--jewel_collection-carissa filtered--jewel_category-necklaces filtered--stone-emerald-zh-hans">

							<div class="grid-item-inner">

								<a href="https://www.graffdiamonds.com/zh-hans/collections/carissa/carissa-necklace-emerald-and-diamond-2/" class="entry-image lazy"  data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/07/Graff_Carissa-Necklace_Emerald-and-diamond-necklace_RGN431-1000x1000.png"></a>

								<div class="entry-body">

									<header class="entry-header">

										<h3 class="entry-title"><a href="https://www.graffdiamonds.com/zh-hans/collections/carissa/carissa-necklace-emerald-and-diamond-2/" rel="bookmark">Carissa项链</a></h3>				<h4 class="entry-subtitle">祖母绿和钻石</h4>
									</header>

								</div>

							</div>

						</article>

						<article id="post-8868" class="grid-item grid-item--preview type-graff_jewel jewel-type--collections filtered--jewel_collection-carissa filtered--jewel_category-necklaces filtered--stone-sapphire-zh-hans">

							<div class="grid-item-inner">

								<a href="https://www.graffdiamonds.com/zh-hans/collections/carissa/carissa-necklace-sapphire-and-diamond-3/" class="entry-image lazy"  data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/07/Graff_Carissa-Necklace_Sapphire-and-diamond-necklace_RGN426-1000x1000.png"></a>

								<div class="entry-body">

									<header class="entry-header">

										<h3 class="entry-title"><a href="https://www.graffdiamonds.com/zh-hans/collections/carissa/carissa-necklace-sapphire-and-diamond-3/" rel="bookmark">Carissa项链</a></h3>				<h4 class="entry-subtitle">蓝宝石和钻石</h4>
									</header>

								</div>

							</div>

						</article>
					</div>


					<p class="buttons-row">
						<a href="https://www.graffdiamonds.com/zh-hans/collections/carissa/" class="button button-primary">浏览Carissa系列
						</a>
					</p>

				</div>
			</div>
			<div class="page-part page-part-grid-previews">
				<div class="page-part--inner">

					<div class="page-part--body">
						<div class="page-part--content">

							<h2><a href="https://www.graffdiamonds.com/zh-hans/collections/peony/">Peony<a/></h2>
							<p class="subtitle"><a href="https://www.graffdiamonds.com/zh-hans/collections/peony/">(查看全部
									)</a></p>

						</div>
					</div>

					<div class="grid grid--3 grid-previews">

						<article id="post-8984" class="grid-item grid-item--preview type-graff_jewel jewel-type--collections filtered--jewel_collection-peony filtered--jewel_category-necklaces filtered--stone-sapphire-zh-hans">

							<div class="grid-item-inner">

								<a href="https://www.graffdiamonds.com/zh-hans/collections/peony/peony-necklace-sapphire-and-diamond-2/" class="entry-image lazy"  data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/07/Graff_Peony-Necklace_sapphire-and-diamond_RGN475-1000x1000.png"></a>

								<div class="entry-body">

									<header class="entry-header">

										<h3 class="entry-title"><a href="https://www.graffdiamonds.com/zh-hans/collections/peony/peony-necklace-sapphire-and-diamond-2/" rel="bookmark">Peony项链</a></h3>				<h4 class="entry-subtitle">蓝宝石和钻石</h4>
									</header>

								</div>

							</div>

						</article>

						<article id="post-8980" class="grid-item grid-item--preview type-graff_jewel jewel-type--collections filtered--jewel_collection-peony filtered--jewel_category-necklaces filtered--stone-ruby-zh-hans">

							<div class="grid-item-inner">

								<a href="https://www.graffdiamonds.com/zh-hans/collections/peony/peony-necklace-ruby-and-diamond/" class="entry-image lazy"  data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/07/Graff_Peony-Necklace_ruby-and-diamond_RGN474--1000x1000.png"></a>

								<div class="entry-body">

									<header class="entry-header">

										<h3 class="entry-title"><a href="https://www.graffdiamonds.com/zh-hans/collections/peony/peony-necklace-ruby-and-diamond/" rel="bookmark">Peony项链</a></h3>				<h4 class="entry-subtitle">红宝石和钻石</h4>
									</header>

								</div>

							</div>

						</article>

						<article id="post-8968" class="grid-item grid-item--preview type-graff_jewel jewel-type--collections filtered--jewel_collection-peony filtered--jewel_category-necklaces filtered--stone-diamond-zh-hans">

							<div class="grid-item-inner">

								<a href="https://www.graffdiamonds.com/zh-hans/collections/peony/peony-necklace-diamond/" class="entry-image lazy"  data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/07/Peony-Collection-Diamond-Drop-Necklace-by-Graff-RGN489-2000x2000-1-1000x1000.png"></a>

								<div class="entry-body">

									<header class="entry-header">

										<h3 class="entry-title"><a href="https://www.graffdiamonds.com/zh-hans/collections/peony/peony-necklace-diamond/" rel="bookmark">Peony项链</a></h3>				<h4 class="entry-subtitle">钻石</h4>
									</header>

								</div>

							</div>

						</article>

						<article id="post-8972" class="grid-item grid-item--preview type-graff_jewel jewel-type--collections filtered--jewel_collection-peony filtered--jewel_category-necklaces filtered--stone-emerald-zh-hans">

							<div class="grid-item-inner">

								<a href="https://www.graffdiamonds.com/zh-hans/collections/peony/peony-necklace-emerald-and-diamond/" class="entry-image lazy"  data-src="https://www.graffdiamonds.com/wp-content/uploads/2017/07/Graff_Peony-Necklace_emerald-and-diamond_RGN473-1000x1000.png"></a>

								<div class="entry-body">

									<header class="entry-header">

										<h3 class="entry-title"><a href="https://www.graffdiamonds.com/zh-hans/collections/peony/peony-necklace-emerald-and-diamond/" rel="bookmark">Peony项链</a></h3>				<h4 class="entry-subtitle">祖母绿和钻石</h4>
									</header>

								</div>

							</div>

						</article>
					</div>


					<p class="buttons-row">
						<a href="https://www.graffdiamonds.com/zh-hans/collections/peony/" class="button button-primary">浏览Peony系列
						</a>
					</p>

				</div>
			</div>



			<div id="find-a-store-footer" class="page-part opt-content-position-oo opt-grey-background opt-line-above no-opt-margin-sides">
				<div class="page-part--inner">

					<div class="page-part--body">
						<div class="page-part--body-inner">

							<div class="page-part--content">


								<h2>探索更多无与伦比的珠宝珍品</h2>
								<p>亲临全球50多间CANDY'S珠宝店，发掘更多瑰丽的珠宝杰作。</p>



								<p><a class="button button-primary" href="https://www.graffdiamonds.com/zh-hans/stores/list/#c">搜寻CANDY'S珠宝店</a></p>

							</div>

						</div>
					</div>

				</div>
			</div>


		</main>


	</div>


	<div class="drawers footer-drawers">


		<div id="drawer-45151" data-drawer-id="45151" class="drawer--double-menu drawer has-feature">


			<div class="drawers--nav">

				<div class="drawers--nav-menus">
				</div>

				<div class="drawers--nav-image">
					<div class="drawers--nav-image-inner">
						<div class="image-placeholder">
						</div>
					</div>
				</div>

			</div>

			<div class="drawers--feature">


				<div class="drawers--feature-image">
					<div class="drawers--feature-image-inner">
						<div class="image-placeholder">
							<img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
									 data-src="./wp-content/uploads/2017/06/Graff-Eternal-Twins-Earrings-1-731x1000.jpg"
									 alt=""/>
							<noscript><img
												src="./wp-content/uploads/2017/06/Graff-Eternal-Twins-Earrings-1-731x1000.jpg"
												alt=""/></noscript>
						</div>
					</div>
				</div>

				<div class="drawers--feature-content">
					<h4>精选
					</h4>

					<div class="inner">
						<h2>The Eternal Twins</h2>
						<p>从同一颗原石切割而成的一双D色无瑕钻石耳环，各重50.23克拉，完美匹配。</p>
						<p><a class="button button-primary"
									href="./zh-hans/unique/famous-diamonds/the-eternal-twins/">探索更多</a></p>
					</div>
				</div>


			</div>


		</div>


		<div id="drawer-49391" data-drawer-id="49391" class="drawer--double-menu drawer has-feature">


			<div class="drawers--nav">

				<div class="drawers--nav-menus">
				</div>

				<div class="drawers--nav-image">
					<div class="drawers--nav-image-inner">
						<div class="image-placeholder">
						</div>
					</div>
				</div>

			</div>

			<div class="drawers--feature">


				<div class="drawers--feature-image">
					<div class="drawers--feature-image-inner">
						<div class="image-placeholder">
							<img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
									 data-src="./wp-content/uploads/2017/06/Classic-Graff-jewellery-collection-769x1000.jpg"
									 alt=""/>
							<noscript><img
												src="./wp-content/uploads/2017/06/Classic-Graff-jewellery-collection-769x1000.jpg"
												alt=""/></noscript>
						</div>
					</div>
				</div>

				<div class="drawers--feature-content">
					<h4>精选
					</h4>

					<div class="inner">
						<h2>Classic CANDY's</h2>
						<p>经典永恒：体现CANDY'S璀璨夺目的隽永珠宝系列。</p>
					</div>
				</div>


			</div>


		</div>


		<div id="drawer-19796" data-drawer-id="19796" class="drawer has-feature">


			<div class="drawers--nav">

				<div class="drawers--nav-menus">
				</div>

				<div class="drawers--nav-image">
					<div class="drawers--nav-image-inner">
						<div class="image-placeholder">
						</div>
					</div>
				</div>

			</div>

			<div class="drawers--feature">


				<div class="drawers--feature-image">
					<div class="drawers--feature-image-inner">
						<div class="image-placeholder">
							<img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
									 data-src="./wp-content/uploads/2017/06/Graff-Drawer-Image-Bridal-The-Graff-Way-769x1000.jpg"
									 alt=""/>
							<noscript><img
												src="./wp-content/uploads/2017/06/Graff-Drawer-Image-Bridal-The-Graff-Way-769x1000.jpg"
												alt=""/></noscript>
						</div>
					</div>
				</div>

				<div class="drawers--feature-content">
					<h4>精选
					</h4>

					<div class="inner">
						<h2>与众不同的CANDY'S</h2>
						<p>婚嫁系列中的每一颗钻石，也由CANDY'S的家族成员亲手挑选。</p>
						<p><a class="button button-primary"
									href="./zh-hans/bridal/bridal-guides/">了解更多</a></p>
					</div>
				</div>


			</div>


		</div>


		<div id="drawer-8362" data-drawer-id="8362" class="drawer--double-menu drawer has-feature">


			<div class="drawers--nav">

				<div class="drawers--nav-menus">
				</div>

				<div class="drawers--nav-image">
					<div class="drawers--nav-image-inner">
						<div class="image-placeholder">
						</div>
					</div>
				</div>

			</div>

			<div class="drawers--feature">


				<div class="drawers--feature-image">
					<div class="drawers--feature-image-inner">
						<div class="image-placeholder">
							<img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
									 data-src="./wp-content/uploads/2017/06/Graff-Drawer-Image-Wacth-Craftsmanship-769x1000-769x1000.jpeg"
									 alt=""/>
							<noscript><img
												src="./wp-content/uploads/2017/06/Graff-Drawer-Image-Wacth-Craftsmanship-769x1000-769x1000.jpeg"
												alt=""/></noscript>
						</div>
					</div>
				</div>

				<div class="drawers--feature-content">
					<h4>精选
					</h4>

					<div class="inner">
						<h2>CANDY'S设计特色</h2>
						<p>探索CANDY'S腕表别具一格、令人难忘的设计特色。</p>
						<p><a class="button button-primary"
									href="./zh-hans/watches/hallmarks-graff-watch/">了解更多</a></p>
					</div>
				</div>


			</div>


		</div>


		<div id="drawer-8366" data-drawer-id="8366" class="drawer has-feature">


			<div class="drawers--nav">

				<div class="drawers--nav-menus">
				</div>

				<div class="drawers--nav-image">
					<div class="drawers--nav-image-inner">
						<div class="image-placeholder">
						</div>
					</div>
				</div>

			</div>

			<div class="drawers--feature">


				<div class="drawers--feature-image">
					<div class="drawers--feature-image-inner">
						<div class="image-placeholder">
							<img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
									 data-src="./wp-content/uploads/2017/08/Graff-Diamonds-Rarity-The-Golden-Empress-1000x1000.jpg"
									 alt=""/>
							<noscript><img
												src="./wp-content/uploads/2017/08/Graff-Diamonds-Rarity-The-Golden-Empress-1000x1000.jpg"
												alt=""/></noscript>
						</div>
					</div>
				</div>

				<div class="drawers--feature-content">
					<h4>精选
					</h4>

					<div class="inner">
						<h2>CANDY'S的故事</h2>
						<p>探索CANDY'S钻石的奇妙旅程。</p>
						<p><a class="button button-primary" href="./zh-hans/house/graff/">了解更多</a></p>
					</div>
				</div>


			</div>


		</div>


		<div id="drawer-19856" data-drawer-id="19856" class="drawer--stores drawer no-feature">


			<div class="stores-search">

				<div class="page-header">
					<h1 class="page-title">欢迎来到CANDY'S JEWELRY</h1>
				</div>
			</div>

		</div>


	</div>
  <%- include('../footer'); %>


</div>
<%- include('../script'); %>

</body>
</html>